html {
  font-size: 10px;
}

body {
  font-size: 1.7rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 2.4rem;
}

h1,
h2 {
  color: #01b4b5;
}

h3.Lemon {
  color: #f2ce41;
}

h3.Chai {
  color: #7f6350;
}

h3.Black {
  color: #555868;
}

p.guarantee {
  color: #444444;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  /* 设置边框样式 */
  border-width: 0.1rem;
  border-style: dashed;
  border-color: white;
  border-top-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  /* 设置背景样式 */
  background-color: #8ac3c4;
  background-image: url("images/background.gif");
  background-repeat: no-repeat;
  background-position: top left;
  /* 设置内边距、左内边距、外边距、右外边距 */
  padding: 2.5rem;
  padding-left: 8rem;
  margin: 3rem;
  margin-right: 25rem;
}
